<!DOCTYPE html>
<html>
<head>
  <title>dashboard</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
</head>
</head>
<body>
 <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>DASHBOARD!</h1>
          <ul>
          <li><a href="/dashboard/Marcode777"></a>Marcode777</li>
          <li><a href="/dashboard/eliezerwohl"></a>eliezerwohl</li>
          <li><a href="/dashboard/Steph-harris"></a>Steph-harris</li>
          <li><a href="/dashboard/ntekal"></a>ntekal</li>
          <li><a href="/dashboard/chriscampbell32"></a>chriscampbell32</li>
          <li><a href="/dashboard/MrMendonex"></a>MrMendonex</li>
          <li><a href="/dashboard/emeraldaly"></a>emeraldaly</li>
          <li><a href="/dashboard/alex-B-Ly"></a>alex-B-Ly</li>
          </ul>
        </div>
      </div>
    </div>
  <script src="../public/js/jquery-1.12.0.js"></script>
  <script src-"../publc/js/server.js"></script>
  <script type="text/javascript" src="../public/js/myfile.js"></script>
</body>
</html>